<section>
  <div class="container-fluid">
    <div
      class="row grid_header text-center align-items-center text-white bg-dark"
    >
      <div class="col">Division</div>
      <div class="col">Nom</div>
      <div class="col">Prénom</div>
      <div class="col">Club</div>
      <div class="col">Matricule</div>
      <div class="col">Date de naissance</div>
      <div class="col">Rang</div>
      <div class="col">Archive</div>
    </div>
    <div class="grid_body">
      <div *ngFor="let club of clubs">
        <div *ngFor="let player of club.players">
          <div class="row text-center">
            <div class="col">{{ club.division.name }}</div>
            <div class="col">{{ player.lastname }}</div>
            <div class="col">{{ player.firstname }}</div>
            <div class="col">{{ club.name }}</div>
            <div class="col">{{ player.id }}</div>
            <div class="col">{{ player.birthDate | date : "yyyy-MM-dd" }}</div>

            <div class="col" *ngIf="player.rankingPoints < 400">4P</div>
            <div
              class="col"
              *ngIf="player.rankingPoints >= 400 && player.rankingPoints < 800"
            >
              3P
            </div>
            <div
              class="col"
              *ngIf="player.rankingPoints >= 800 && player.rankingPoints < 1200"
            >
              2P
            </div>
            <div class="col" *ngIf="player.rankingPoints >= 1200">1P</div>
            <div class="col">
              <a href="#" class="px-2 py-2 mr-md-1 rounded">Details</a>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let player of playersWithoutClub">
        <div class="row text-center">
          <div class="col"> </div>
          <div class="col">{{ player.lastname }}</div>
          <div class="col">{{ player.firstname }}</div>
          <div class="col"></div>
          <div class="col">{{ player.id }}</div>
          <div class="col">{{ player.birthDate | date : "yyyy-MM-dd" }}</div>

          <div class="col" *ngIf="player.rankingPoints < 400">4P</div>
          <div
            class="col"
            *ngIf="player.rankingPoints >= 400 && player.rankingPoints < 800"
          >
            3P
          </div>
          <div
            class="col"
            *ngIf="player.rankingPoints >= 800 && player.rankingPoints < 1200"
          >
            2P
          </div>
          <div class="col" *ngIf="player.rankingPoints >= 1200">1P</div>
          <div class="col">
            <a href="#" class="px-2 py-2 mr-md-1 rounded">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
