<section>
  <div class="container-fluid">
    <div class="row grid_header text-center align-items-center text-white bg-dark">
      <div class="col">Division</div>
      <div class="col">Nom</div>
      <div class="col">Prénom</div>
      <div class="col">Club</div>
      <div class="col">Matricule</div>
      <div class="col">Date de naissance</div>
      <div class="col">Rang</div>
      <div class="col">Archive</div>
    </div>
    <div class="grid_body">
        <div class="row text-center">
            <div class="col">1A</div>
            <div class="col">DESCHEEMAEKER</div>
            <div class="col">GILLES</div>
            <div class="col">De Kletsers</div>
            <div class="col">1</div>
            <div class="col">04-05-1990</div>
            <div class="col">2P</div>
            <div class="col"><a href="#" class="px-2 py-2 mr-md-1 rounded">Details</a></div>
          </div>
          <div class="row text-center">
              <div class="col">1A</div>
              <div class="col">LEONARD</div>
              <div class="col">STEVEN</div>
              <div class="col">De Kletsers</div>
              <div class="col">2</div>
              <div class="col">04-09-1984</div>
              <div class="col">1P</div>
              <div class="col"><a href="#" class="px-2 py-2 mr-md-1 rounded">Details</a></div>
            </div>
            <div class="row text-center">
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col"><a href="#" class="px-2 py-2 mr-md-1 rounded">Details</a></div>
            </div>
            <div class="row text-center">
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col"><a href="#" class="px-2 py-2 mr-md-1 rounded">Details</a></div>
            </div>
            <div class="row text-center">
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col">Column</div>
              <div class="col"><a href="#" class="px-2 py-2 mr-md-1 rounded">Details</a></div>
            </div>
    </div>
  </div>
</section>
