<section class="ftco-section bg-white text-white p-5 text-center text-sm-start" id="about">
    <br/><br/>
    <div class="container">
        <div class="fadeIN row justify-content-around">
            <div>
                <p class="fw-bold fs-1">A propos de la Fédération Kicker Da Vinci</p>
                <p class="fst-italic fw-light fs-4">Apprenez à nous connaitre</p>
                <p class="lead mt-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, impedit quisquam! Dolores, deleniti ducimus. A quo blanditiis ipsa voluptate modi. At corrupti magnam itaque eligendi corporis? Voluptates aliquam amet obcaecati!
                </p>
            </div>
        </div>
    </div>
    <br/><br/>
</section>
