<div class ="page">
    <div class="gray-frame">
    
    
        <h1>Les Règles de la fédération Kicker Da Vinci</h1>
        <ul>
        <li>Utiliser des accessoires sur les barres non conformes aux règles du jeu.</li>
        <li>Mettre les mains dans le baby-foot en cours de jeu.</li>
        <li>Déplacer ou soulever la table du jeu.</li>
        <li>Tordre les barres.</li>
        <li>Toutes les gênes (chocs par les demis ou les arrières adverses sur les montants du baby lors d’un tir ou d’un contrôle, chocs des barres entre elles, etc.) sont interdites.</li>
    </ul>
    </div>
    </div>