<div class ="page">
<div class="gray-frame">
    <h1>Article 1 : L’engagement</h1>
    <p>La partie commence par un tirage au sort.</p>
    <p>L’engagement (joueur ayant bénéficié du tirage au sort ou ayant encaissé un but) se fait aux demis, balle arrêtée.</p>
    <h1>Article 2 : La remise en jeu</h1>
    <p>Lors d’une sortie de la table de jeu, la balle est remise aux arrières du camp qui n'a pas eu la dernière possession de la balle.</p>
    <p>Une balle immobilisée entre deux barres est donnée aux arrières du camp où elle est immobilisée. Une balle immobilisée entre les barres des demis est remise aux demis qui ont eu l’engagement précédemment.</p>
    <h1>Article 3 : Le "prêt"</h1>
    <p>Pour tout engagement ou remise en jeu, le joueur doit demander « prêt ? » et attendre que son adversaire lui réponde « prêt ! ».</p>
    <h1>Article 4 : Les pissettes</h1>
    <p>Les tirs des ailiers avant (pissettes) sont autorisés des deux côtés.</p>
    <h1>Article 5 : Les reprises</h1>
    <p>Les reprises sont autorisées en double et en simple.</p>
    <p>En individuel, une balle engagée aux demis et contrôlée par les avants (balle déviée entre les deux joueurs, amortie derrière le joueur ou bloquée) peut être tirée immédiatement, sans attendre l’adversaire. De même pour une balle venant du bois adverse. Le tir n’est pas assimilé à une reprise.</p>
    <h1>Article 6 : Les roulettes</h1>
    <p>Les roulettes sont autorisées à la condition que la barre n’effectue pas plus d’une rotation avant et après la frappe.</p>
    <h1>Article 7 : La gamelle</h1>
    <p>La gamelle (balle entrée et ressortie du but) ne vaut qu’un point. Réengagement normal aux demis.</p>
    <h1>Article 8 : Changement de position</h1>
    <p>Les joueurs d’une équipe peuvent changer de position (avant/arrière) lors d’un engagement ou d’un temps mort.</p>
    <h1>Article 9 : Les demis</h1>
    <p>Les buts marqués des demis sont valables.</p>
    <p>Lors d’un dégagement des arrières, l’équipe adverse a le droit de bouger ses demis.</p>
    <p>Les « râteaux », « sacs » ou « brailles » n’existent pas : il est autorisé de dévier la balle de l’adversaire.</p>

    <h1>Les interdits</h1>
    <ul>
    <li>Utiliser des accessoires sur les barres non conformes aux règles du jeu.</li>
    <li>Mettre les mains dans le baby-foot en cours de jeu.</li>
    <li>Déplacer ou soulever la table du jeu.</li>
    <li>Tordre les barres.</li>
    <li>Toutes les gênes (chocs par les demis ou les arrières adverses sur les montants du baby lors d’un tir ou d’un contrôle, chocs des barres entre elles, etc.) sont interdites.</li>
</ul>
</div>
</div>