<div class ="page">
    <div class="container text-white">
        <div class="row justify-content-center">
            <div class="col">
                <a href="https://www.cbkantwerpen.be/" target="_blank"> www.cbkantwerpen.be </a>
                - Tafelvoetbalbond CBK Antwerpen
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <a href="http://www.atc-tafelvoetbal.be/" target="_blank"> www.atc-tafelvoetbal.be </a>
                - Tafelvoetbalbond ATC Antwerpen
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <a href="http://www.cbkregio-oost.be/" target="_blank"> www.cbkregio-oost.be </a>
                - Tafelvoetbalbond Regio-Oost (Limburg & Luik)
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <a href="https://btlb.be/" target="_blank"> www.btlb.be </a>
                - Tafelvoetbalbond Oost-Vlaanderen
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <a href="http://www.speedplay.be/" target="_blank"> www.speedplay.be </a>
                - Site met profielen van spelers en tornooiuitslagen.
            </div>
        </div>
    </div>
</div>
