@import '../bootstrap/bootstrap';
@import '../bootstrap/variables';
@import '../bootstrap/mixins';

$font-primary: 'Lato',Arial, sans-serif;
$primary: #fbceb5;

.ftco-section{
    background-image: url('https://github.com/maximeVa/PFE_Project/blob/main/Frontend/src/assets/images/ImageAboutKicker.jpg?raw=true');
	font-family: $font-primary;
	font-size: 16px;
	line-height: 1.8;
	font-weight: normal;
	position: relative;
	z-index: 0;
	padding: 0;
	&:after{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		background: $black;
		opacity: .3;
		z-index: -1;
	}
}

.col {
    padding: 15px;
}

.container {
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 2em;
    background-color: rgb(33,37,41);
    box-shadow: 0px 0px 10px #000000;
}