<section>
    <div class="container-fluid">
      <div class="row grid_header text-center align-items-center text-white bg-dark">
        <div class="col">Club</div>
        <div class="col">Local</div>
        <div class="col">Adresse</div>
        <div class="col">Téléphone</div>
        <div class="col">Téléphone du Capitaine</div>
        <div class="col">Route</div>
      </div>
      <div class="grid_body">
          <div class="row text-center align-items-center">
              <div class="col">De Kletsers</div>
              <div class="col">T Excuus</div>
              <div class="col">Stationsplein 35, Ingelmunster</div>
              <div class="col">0496/64.28.23</div>
              <div class="col">0486/23.61.22</div>
              <div class="col"><a href="http://maps.google.be/maps?hl=fr&q=Stationsplein35,Ingelmunster" target="_blank" class="px-2 py-2 mr-md-1 rounded">Route</a></div>
          </div>
          <div class="row text-center align-items-center">
            <div class="col">De Zwarte Leeuw</div>
            <div class="col">De Zwarte Leeuw</div>
            <div class="col">Hoogstraat 1, Lichtervelde</div>
            <div class="col">0485/94.36.48.</div>
            <div class="col">0429/10.14.90.</div>
            <div class="col"><a href="http://maps.google.be/maps?hl=fr&q=Hoogstraat1,Lichtervelde" target="_blank" class="px-2 py-2 mr-md-1 rounded">Route</a></div>
        </div>
      </div>
    </div>
  </section>
  