@import '../bootstrap/bootstrap';
@import '../bootstrap/variables';
@import '../bootstrap/mixins';

$primary: white;

.grid_header{
	//font-weight: bold;
	font-size: 19px;
}

.row {
	padding: 10px;
	font-family: Georgia, serif;
}

.grid_body {
	.row {
		border-bottom: 0.5px solid black;
	}
}

.grid_body {
	background-color: white;
}	

a {
	background-color: black;
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
		background-color: rgb(244, 207, 207);
		color: black;
	}
}