
<!-- start navBar -->
<nav class="navbar navbar-expand-xl navbar-dark bg-dark sticky-top">
  <button
  class="navbar-toggler"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#navbarColor02">
  <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse" id="navbarColor02">

    <ul class="navbar-nav">
      <li>
        <a class="button14 nav-item nav-link text-white" href="/home">
          <span class="sr-only"></span>Accueil</a>
      </li>
      <li class="nav-item dropdown">
        <a class="button14 nav-link dropdown-toggle text-white" href="/about" > A propos </a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#"> Conseil d'administration </a></li>
            <li><a class="dropdown-item" href="#"> Liens importants </a></li>
            <li><a class="dropdown-item" href="#"> Règles de jeu </a></li>
            <li><a class="dropdown-item" href="#"> Règles de la fédération </a></li>
            <li><a class="dropdown-item" href="#"> Archives </a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="button14 nav-link dropdown-toggle text-white" href="/competition" > Compétitions </a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#"> Calendrier </a></li>
            <li><a class="dropdown-item"> ---------- </a></li>
            <li><a class="dropdown-item" href="#"> Division 1 </a></li>
            <li><a class="dropdown-item" href="#"> Division 2 </a></li>
        </ul>
      </li>
      <li>
        <a class="button14 nav-item nav-link text-white" href="/cups">Coupes</a>
      </li>
      <li class="nav-item dropdown">
        <a class="button14 nav-link dropdown-toggle text-white" href="/informations" > Informations </a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="/listPlayers"> Liste des joueurs </a></li>
            <li><a class="dropdown-item" href="/leaderboardPlayer"> Classement des joueurs </a></li>
            <li><a class="dropdown-item" href="/listClubs"> Liste des clubs </a></li>
            <li><a class="dropdown-item" href="#"> Formulaire </a></li>
        </ul>
      </li>
      <li>
        <a class="button14 nav-item nav-link text-white" href="/login">S'identifier</a>
      </li>
      <li>
        <a class="button14 nav-item nav-link text-white" href="/register">S'enregistrer</a>
      </li>
    </ul>
    <!--
    <div class="dropdown ms-auto " style="margin-right : 1vw" >
      <a class="nav-item nav-link  dropdown-toggle" style="text-decoration : none; color: gray; cursor: pointer;"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle"> &nbsp;&nbsp;</i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu" aria-labelledby="dropdownMenuButton1" >
        <li><a class="dropdown-item" href="">Log in</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    -->

    <form class="form-inline my-2 my-lg-0">
      <!-- <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
    name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required> -->
    </form>
  </div>
</nav>

  <!-- end navBar -->

  <!-- start content -->
<div class="content" role="main">

  <router-outlet></router-outlet>

</div>
 <!-- end content -->

  <!-- start footer section -->
<footer id="contact" class="page-footer p-5 text-md-left bg-dark text-white shadowBox">
  <div class="container py-5">
    <div class="row g-4">
      <div class="col-lg-3 col-md-6">
        <h5 class="text-uppercase font-weight-bold mb-4">
          Fédération Kicker Da Vinci
        </h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quisquam, voluptates.
        </p>
        <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook text-white mx-1 lead"></i></a>
        <a href="https://twitter.com/?lang=fr" target="_blank"><i class="bi bi-twitter text-white mx-1 lead"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram text-white mx-1 lead"></i></a>
      </div>
      <div class="col-lg-2 col-md-2 mx-auto">
        <h5 class="text-uppercase font-weight-bold mb-4">Liens
        </h5>
        <ul class="list-styled">
          <li class="mb-1">
            <a class="text-white" href="/home">Accueil</a>
          </li>
          <li class="mb-1">
            <a class="text-white" href="/about">A propos</a>
          </li>
          <li class="mb-1">
            <a class="text-white" href="/competitions">Compétitions</a>
          </li>
          <li class="mb-1">
            <a class="text-white" href="/cups">Coupes</a>
          </li>
          <li class="mb-1">
            <a class="text-white" href="/informations">Informations</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-xs-12 location">
        <h5 class="text-uppercase font-weight-bold mb-4">Localisation</h5>
        <p class="d-flex">
          <i class="bi bi-geo-alt text-primary mx-2 lead"></i>
          21 rue de la paix, 1000 Bruxelles
        </p>
        <p class="d-flex align-items-center">
          <i class="bi bi-phone text-primary mx-2 lead"></i>
          +32 2 00 00 00 00
        </p>
        <p class="d-flex align-items-center">
          <i class="bi bi-envelope text-primary mx-2 lead"></i>
          info@gmail.com
      </div>

    </div>
  </div>

</footer>
  <!-- end footer section -->

  <!-- start footer bottom-->
<footer class="p-3 bg-dark text-white text-center position-relative shadowBox">
    <div class="container">
        <p class="mb-0">
            Copyright &copy; 2022 Fédération Kicker Da Vinci
        </p>
    </div>
</footer>
  <!-- end footer bottom-->
