.button14 {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  outline: none;
  color: #566473;
  font-size: 1.2em;
}

.button14:after, .button14:before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  transition: all 0.6s ease;
  border-radius: 2px;
}

.button14:after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #043972;
  border-right-color: #043972;
}

.button14:before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #043972;
  border-left-color: #043972;
}

.button14:hover:after, .button14:hover:before {
  width: 110%;
  height: 110%;
}

.navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
}

.navbar{
  letter-spacing: 2px;
  box-shadow: 0px 15px 10px -15px #111;
}

.shadowBox {
  box-shadow: 0px -15px 10px -15px #111;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}