<div class="accordion" id="accordionExample">
  <div class="accordion-item row">
    <h2 class="accordion-header" id="">
      <button class="accordion-button firstACCC" style="background-color: grey">
        <div class="col">
          <a class="accordion-header headerClassement" id="headingOne">
            Rank
          </a>
        </div>
        <div class="col">
          <a class="accordion-header headerClassement" id="headingOne">
            Points
          </a>
        </div>
        <div class="col">
          <a class="accordion-header headerClassement" id="headingOne"> Nom </a>
        </div>
        <div class="col">
          <a class="accordion-header headerClassement" id="headingOne">
            Club
          </a>
        </div>
      </button>
    </h2>
  </div>
  <div class="accordion-item row">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        <div class="col">
          <a class="accordion-header" id="headingOne"> #1 </a>
        </div>
        <div class="col">
          <a class="accordion-header" id="headingOne"> 74575 </a>
        </div>
        <div class="col">
          <a class="accordion-header" id="headingOne"> Cristianak Nakalado </a>
        </div>
        <div class="col">
          <a class="accordion-header" id="headingOne"> FC Célibat </a>
        </div>
      </button>
    </h2>
  </div>
  <div class="accordion-item row">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#col2"
        aria-expanded="true" aria-controls="col2">
        <div class="col">
          <a class="accordion-header" id="head2"> #2 </a>
        </div>
        <div class="col">
          <a class="accordion-header" id="head2"> 54821 </a>
        </div>
        <div class="col">
          <a class="accordion-header" id="head2"> Lionax Messopino </a>
        </div>
        <div class="col">
          <a class="accordion-header" id="head2"> FC Célibat </a>
        </div>
      </button>
    </h2>
  </div>
</div>


<!-- TEMPLATE FOR ROW

  <div class="accordion-item row">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#col2"
        aria-expanded="true" aria-controls="col2">
        <div class="col">
          <a class="accordion-header" id="head2"> #2 </a>
        </div>
        <div class="col">
          <a class="accordion-header" id="head2"> 54821 </a>
        </div>
        <div class="col">
          <a class="accordion-header" id="head2"> Lionax Messopino </a>
        </div>
        <div class="col">
          <a class="accordion-header" id="head2"> FC Célibat </a>
        </div>
      </button>
    </h2>
  </div>


-->

<!-- TEMPLATE FOR ONCLICK
    <div id="col2" class="accordion-collapse collapse" aria-labelledby="head2">
      <div class="accordion-body row">
        <div class="col">
          It is shown by default, until the collapse plugin adds the appropriate
        </div>
        <div class="col">TEST</div>
        <div class="col">ZZZZZZ</div>
      </div>
    </div>
-->
