<section>
  <div class="container-fluid">
    <div class="row grid_header text-center align-items-center text-white bg-dark">
      <div class="col">#</div>
      <div class="col">Points</div>
      <div class="col">Nom</div>
      <div class="col">Matricule</div>
      <div class="col">Club</div>
      <div class="col">Rang</div>

    </div>
    <div class="grid_body">
      <div *ngFor="let player of ALLplayers;let i  = index">
          <div class="row text-center">
            <div class="col">{{ i+1 }}</div>
            <div class="col">{{player.rankingPoints}}</div>
            <div class="col">{{ player.lastname + " " + player.firstname }}</div>
            <div class="col">{{ player.id }}</div>
            <div class="col">{{ player?.club?.name || "/" }}</div>
            <div class="col" *ngIf="player.rankingPoints < 400">4P</div>
            <div class="col" *ngIf="player.rankingPoints >= 400 && player.rankingPoints < 800">
              3P
            </div>
            <div class="col" *ngIf="player.rankingPoints >= 800 && player.rankingPoints < 1200">
              2P
            </div>
            <div class="col" *ngIf="player.rankingPoints >= 1200">1P</div>
          </div>

      </div>
    </div>
  </div>
</section>
