@import '../bootstrap/bootstrap';
@import '../bootstrap/variables';
@import '../bootstrap/mixins';

$primary: white;
$color: rgb(52, 58, 64);

.grid_header{
	font-size: 19px;
}

.row {
    .dark{
        background-color: rgb(52, 58, 64);
    }
	font-family: Georgia, serif;
}

.grid_body {
    background-color: white;
	.row {
		border-bottom: 0.5px solid white;
        height: 11em;
	}
}

.col-1, .col2 .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col {
    padding: 10px;
}

.grey {
    //background-color: #71797E;
    background-color: lighten(rgb(52, 58, 64),8%);
}

select {
    width: 85%;
}