<section>
  <div class="container-fluid">
    <div class="row bg-dark">
      <div class="col"></div>
    </div>
    <div class="row bg-dark">
      <div class="col"></div>
    </div>
    <div
      class="row grid_header text-center align-items-center text-white bg-dark border-bottom border-top"
    >
      <div class="col-4">Progression du match</div>
      <div class="col-8 border-left">Remplacements</div>
    </div>
    <div
      class="row grid_header text-center align-items-center text-white bg-dark"
    >
      <div class="col-1 border-bottom">Set</div>
      <div class="col-1 border-bottom">Teams</div>
      <div class="col-1 border-bottom">Setptn</div>
      <div class="col-1 border-bottom">Punten</div>
      <div class="col-4 border-left border-bottom">Equipe à domicile</div>
      <div class="col-4 border-left border-bottom">Visiteurs</div>
    </div>
    <div class="grid_body">
      <!-- SET 1 -->
      <div class="row text-center align-items-center bg-dark">
        <div class="col-1 dark text-white w-100">1</div>
        <div class="col-1 dark text-white">A - A</div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="set1Point"
            name="set1Point"
            required
            minlength="3"
            maxlength="5"
            size="8"
            value="10-10"
            disabled
          />
        </div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="point1"
            name="point1"
            required
            minlength="3"
            maxlength="3"
            size="8"
            value="1-1"
            disabled
          />
        </div>
        <div class="col-2 border-left text-white">
          <div>
            <label for="PlayerA1">Choisit un joueur *</label>
            <select class="form-select-sm" id="PlayerA1" aria-label="Default select example">
              <option selected>--------------------------------------------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div>
            <label for="PlayerA1">Choisit un remplaçant</label>
            <select class="form-select-sm" id="PlayerA1" aria-label="Default select example">
              <option selected>--------------------------------------------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col-2 border-left text-white">
          <div>
            <label for="PlayerA1">Choisit un joueur *</label>
            <select class="form-select-sm" id="PlayerA1" aria-label="Default select example">
              <option selected>--------------------------------------------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div>
            <label for="PlayerA1">Choisit un remplaçant</label>
            <select class="form-select-sm" id="PlayerA1" aria-label="Default select example">
              <option selected>--------------------------------------------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col-2 border-left text-white">
          <div>
            <label for="PlayerA1">Choisit un joueur *</label>
            <select class="form-select-sm" id="PlayerA1" aria-label="Default select example">
              <option selected>--------------------------------------------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div>
            <label for="PlayerA1">Choisit un remplaçant</label>
            <select class="form-select-sm" id="PlayerA1" aria-label="Default select example">
              <option selected>--------------------------------------------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col-2 border-left text-white">
          <div>
            <label for="PlayerA1">Choisit un joueur *</label>
            <select class="form-select-sm" id="PlayerA1" aria-label="Default select example">
              <option selected>--------------------------------------------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div>
            <label for="PlayerA1">Choisit un remplaçant</label>
            <select class="form-select-sm" id="PlayerA1" aria-label="Default select example">
              <option selected>--------------------------------------------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>

      <!-- SET 2 -->
      <div class="row text-center bg-dark align-items-center">
        <div class="col-1 dark text-white">2</div>
        <div class="col-1 dark text-white">B - B</div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="set2Point"
            name="set2Point"
            required
            minlength="3"
            maxlength="5"
            size="8"
            value="11-5"
            disabled
          />
        </div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="point2"
            name="point2"
            required
            minlength="3"
            maxlength="3"
            size="8"
            value="2-0"
            disabled
          />
        </div>
        <div class="col-2 border-left text-white">
          <div>
            <label for="PlayerA1">Choisit un joueur *</label>
            <select class="form-select-sm" id="PlayerA1" aria-label="Default select example">
              <option selected>--------------------------------------------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div>
            <label for="PlayerA1">Choisit un remplaçant</label>
            <select class="form-select-sm" id="PlayerA1" aria-label="Default select example">
              <option selected>--------------------------------------------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col-2 border-left text-white">
          <div>
            <label for="PlayerA1">Choisit un joueur *</label>
            <select class="form-select-sm" id="PlayerA1" aria-label="Default select example">
              <option selected>--------------------------------------------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div>
            <label for="PlayerA1">Choisit un remplaçant</label>
            <select class="form-select-sm" id="PlayerA1" aria-label="Default select example">
              <option selected>--------------------------------------------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col-2 border-left text-white">
          <div>
            <label for="PlayerA1">Choisit un joueur *</label>
            <select class="form-select-sm" id="PlayerA1" aria-label="Default select example">
              <option selected>--------------------------------------------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div>
            <label for="PlayerA1">Choisit un remplaçant</label>
            <select class="form-select-sm" id="PlayerA1" aria-label="Default select example">
              <option selected>--------------------------------------------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col-2 border-left text-white">
          <div>
            <label for="PlayerA1">Choisit un joueur *</label>
            <select class="form-select-sm" id="PlayerA1" aria-label="Default select example">
              <option selected>--------------------------------------------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div>
            <label for="PlayerA1">Choisit un remplaçant</label>
            <select class="form-select-sm" id="PlayerA1" aria-label="Default select example">
              <option selected>--------------------------------------------</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>

      <!-- SET 3 -->
      <div class="row text-center bg-dark align-items-center">
        <div class="col-1 dark text-white">3</div>
        <div class="col-1 dark text-white">C - C</div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="set3Point"
            name="set3Point"
            required
            minlength="3"
            maxlength="5"
            size="8"
            value="11-5"
            disabled
          />
        </div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="point3"
            name="point3"
            required
            minlength="3"
            maxlength="3"
            size="8"
            value="2-0"
            disabled
          />
        </div>
        <div class="col-4 border-left"></div>
        <div class="col-4 border-left"></div>
      </div>

      <!-- SET 4 -->
      <div class="row text-center bg-dark align-items-center">
        <div class="col-1 dark text-white">4</div>
        <div class="col-1 dark text-white">A - B</div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="set4Point"
            name="set4Point"
            required
            minlength="3"
            maxlength="5"
            size="8"
            value="11-5"
            disabled
          />
        </div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="point4"
            name="point4"
            required
            minlength="3"
            maxlength="3"
            size="8"
            value="2-0"
            disabled
          />
        </div>
        <div class="col-4 border-left"></div>
        <div class="col-4 border-left"></div>
      </div>

      <!-- SET 5 -->
      <div class="row text-center bg-dark align-items-center">
        <div class="col-1 dark text-white">5</div>
        <div class="col-1 dark text-white">B - C</div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="set5Point"
            name="set5Point"
            required
            minlength="3"
            maxlength="5"
            size="8"
            value="11-5"
            disabled
          />
        </div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="point5"
            name="point5"
            required
            minlength="3"
            maxlength="3"
            size="8"
            value="2-0"
            disabled
          />
        </div>
        <div class="col-4 border-left"></div>
        <div class="col-4 border-left"></div>
      </div>

      <!-- SET 6 --> 
      <div class="row text-center bg-dark align-items-center">
        <div class="col-1 dark text-white">6</div>
        <div class="col-1 dark text-white">C - A</div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="set6Point"
            name="set6Point"
            required
            minlength="3"
            maxlength="5"
            size="8"
            value="11-5"
            disabled
          />
        </div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="point6"
            name="point6"
            required
            minlength="3"
            maxlength="3"
            size="8"
            value="2-0"
            disabled
          />
        </div>
        <div class="col-4 border-left"></div>
        <div class="col-4 border-left"></div>
      </div>

      <!-- SET 7 -->
      <div class="row text-center bg-dark align-items-center">
        <div class="col-1 dark text-white">7</div>
        <div class="col-1 dark text-white">A - C</div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="set7Point"
            name="set7Point"
            required
            minlength="3"
            maxlength="5"
            size="8"
            value="11-5"
            disabled
          />
        </div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="point7"
            name="point7"
            required
            minlength="3"
            maxlength="3"
            size="8"
            value="2-0"
            disabled
          />
        </div>
        <div class="col-4 border-left"></div>
        <div class="col-4 border-left"></div>
      </div>

      <!-- SET 8 -->
      <div class="row text-center bg-dark align-items-center">
        <div class="col-1 dark text-white">8</div>
        <div class="col-1 dark text-white">B - A</div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="set8Point"
            name="set8Point"
            required
            minlength="3"
            maxlength="5"
            size="8"
            value="11-5"
            disabled
          />
        </div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="point8"
            name="point8"
            required
            minlength="3"
            maxlength="3"
            size="8"
            value="2-0"
            disabled
          />
        </div>
        <div class="col-4 border-left"></div>
        <div class="col-4 border-left"></div>
      </div>

      <!-- SET 9 -->
      <div class="row text-center bg-dark align-items-center">
        <div class="col-1 dark text-white">9</div>
        <div class="col-1 dark text-white">C - B</div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="set9Point"
            name="set9Point"
            required
            minlength="3"
            maxlength="5"
            size="8"
            value="11-5"
            disabled
          />
        </div>
        <div class="col-1">
          <input
            class="text-center"
            type="text"
            id="point9"
            name="point9"
            required
            minlength="3"
            maxlength="3"
            size="8"
            value="2-0"
            disabled
          />
        </div>
        <div class="col-4 border-left"></div>
        <div class="col-4 border-left"></div>
      </div>

      <!-- TOTAL -->
      <div class="row text-center">
        <div class="col-3 dark text-white">Total</div>
        <div class="col-1 dark text-white border-left">
          <input
            class="text-center"
            type="text"
            id="totalPoint"
            name="totalPoint"
            required
            minlength="3"
            maxlength="5"
            size="8"
            value="8-10"
            disabled
          />
        </div>
        <div class="col-8 dark text-white border-left"></div>
      </div>
    </div>
  </div>
</section>
