<div class="page">
  <ul class="cards">
    <div *ngFor="let admin of admins" class="card col-sm-6">
      <li>
        <a href="" class="card">
          <img src="https://imgur.com/ARorfw0.jpg" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <img
                class="card__thumb"
                src="https://imgur.com/vCRC0uy.jpg"
                alt=""
              />
              <div class="card__header-text">
                <h3 class="card__title">
                  {{ admin.firstname }} {{ admin.lastname }}
                </h3>
                <span class="card__status">{{ admin.email }}</span>
              </div>
            </div>
            <p class="card__description">{{ admin.birthDate }}</p>
          </div>
        </a>
      </li>
    </div>
  </ul>
</div>
