<div>
  <ul class="cards">
    <div *ngFor="let game of games" class="card col-sm-6">
      <div class="main-container">
        <div class="heading">
          <h5 class="heading__title">Matchs</h5>
          <div class="card__overlay" *ngIf="game.guestClub != null && game.hostClub != null">
            <h6 id="heading__title">{{game.guestClub.division.name}}</h6>
            <p>{{game.hostClub.name}}         -       {{game.guestClub.name}}</p>
          </div>
          <div class="card__overlay" *ngIf="game.competition!=null">
            <h5 class="heading__title">Competitions</h5>
            <p>date : {{game.competition.date}}</p>
            <p>Description : {{game.competition.note}}</p>
          </div>
          <div class="card__overlay" *ngIf="game.cup!=null">
            <h5 class="heading__title">Coupes</h5>
            <p> {{game.cup.startDate - game.cup.endDate}}</p>
            <p> {{game.cup.name}}</p>
          </div>
        </div>
      </div>

    </div>
  </ul>
</div>
