<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">Avez-vous un compte?</h3>
          <form action="#" class="signin-form">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Email"
                required
              />
            </div>
            <div class="form-group">
              <input
                id="password-field"
                type="password"
                class="form-control"
                placeholder="Mot de passe"
                required
              />
              <span
                toggle="#password-field"
                class="fa fa-fw fa-eye field-icon toggle-password"
              ></span>
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="form-control btn px-3"
              >
                S'identifier
              </button>
            </div>
            <div class="form-group d-md-flex">
              <div class="w-50 form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="rememberMe"
                />
                <label class="form-check-label" for="rememberMe">
                  Se souvenir de moi
                </label>
              </div>
              <div class="w-50 text-md-right">
                <a href="#" style="color: #fff">Mot de passe oublié ?</a>
              </div>
            </div>
          </form>
          <p class="w-100 text-center">&mdash; Ou s'identifier avec &mdash;</p>
          <div class="social d-flex text-center">
            <a href="#" class="px-2 py-2 mr-md-1 rounded"
              ><span class="bi bi-facebook mr-2"></span> Facebook</a
            >
            <a href="#" class="px-2 py-2 mr-md-1 rounded"
              ><span class="bi bi-google mr-2"></span> Google</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
