
<!-- Background image -->
<div class="bg-image text-center" style="background-image: url('https://github.com/maximeVa/PFE_Project/blob/main/Frontend/src/assets/images/Babyfoot.png?raw=true');
  height: 85vh;
  ">
  <section class="ftco-section  p-4 " id="about">
    <div class="container">
        <div class="row justify-content-around" style="padding-top: 14em;">
            <div>
                <p class="fw-bold fs-4">Fédération Kicker Da Vinci</p>
                <p class="fst-italic fw-light fs-1">Competitions,coupes et classements </p>
            </div>
        </div>
    </div>
    <br/><br/>
  </section>
</div>
<!-- Background image -->
