<!-- Background image -->
<div class="bg-image"> 
    
    <div class="bg-image" style="background-image: url('https://github.com/maximeVa/PFE_Project/blob/main/Frontend/src/assets/images/Babyfoot.png?raw=true  ');height: 100vh;">
        <div class="card" style="width: 18rem; margin-left:auto;margin-right:auto;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    
</div>
<!-- Background image -->
