<!-- Background image -->
<div class="bg-image">

    <div class="bg-image" style="background-image: url('https://github.com/maximeVa/PFE_Project/blob/main/Frontend/src/assets/images/Babyfoot.png?raw=true  ');height: 100vh;">
      <div class="container">
        <div class="row justify-content-around">
            <div class="col-5">
                <img src="/assets/images/ImageAboutKicker.jpg" class="img-fluid"  alt="image">
            </div>
            <div class="col-5">
                <p class="fw-bold fs-1">A propos de la Fédération Kicker Da Vinci</p>
                <p class="fst-italic fw-light fs-4">Apprenez à nous connaitre</p>
                <p class="lead mt-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, impedit quisquam! Dolores, deleniti ducimus. A quo blanditiis ipsa voluptate modi. At corrupti magnam itaque eligendi corporis? Voluptates aliquam amet obcaecati!
                </p>
            </div>
        </div>
    </div>

        <div class="card" style="width: 18rem; margin-left:auto;margin-right:auto;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>

</div>
<!-- Background image -->
